<p>This is a code block using 4 spaces syntax:
    class Something
      def method(param)
      end
    end</p>

<p>This is a code block using 3-backticks ```:</p>

<pre><code>This is a code block without any specific language
</code></pre>

<p>This is a code block specifying a language:</p>

<pre><code class="language-ruby">class Something
  def method(param)
  end
end
</code></pre>
